[submodule "mcp-server-misc"]
	path = mcp-server-misc
	url = https://github.com/artqcid/mcp-server-misc.git
[submodule "embedding-server-misc"]
	path = embedding-server-misc
	url = https://github.com/artqcid/embedding-server-misc.git
